@{
    // Group aliases by category
    //  - Item1: GroupKey
    //  - Item2: Group
    List<Tuple<string, IDocument>> categories = new List<Tuple<string, IDocument>>();
    foreach(IDocument group in Outputs.FromPipeline(nameof(DslAliasesPipeline)))
    {
        categories.Add(
            new Tuple<string, IDocument>(
                group.GetString(Keys.GroupKey),
                group
        ));
    }
}

@foreach(Tuple<string, IDocument> category in categories)
{
    string selectedClass = category.Item1 == Model.GetString(Keys.GroupKey) ? "selected" : null;
    <li class="@selectedClass"><a href="@Context.GetLink(category.Item2)">@category.Item1</a></li>
}